@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
/*menu*/
#menu {
    list-style-type: none;
}
#menu li {
    float: right;
    font-size: 150%;
    letter-spacing: 2px;
    margin-right: 35px;
}
/* headings and logo */
#hero-text {
    text-align: center;
    padding-top: 20%;
    font-family: font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #2c2c2c;
    font-size: 25px;
}
h2, nav{
    font-family: font-family: 'Montserrat', sans-serif;;
    letter-spacing: 1px;
    color: #2c2c2c;
}
#hero-image {
    width: 100%;
    height: 600px;
    background-image: url(../images/rxm-hero.png);
    padding-top: 50%;
}



