@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
/*menu*/
#menu {
    float:right;
}
/* headings and logo */
#hero-text {
    text-align: center;
    margin-top: 15%;
    font-family: font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #2c2c2c;
    font-size: 25px;
}
h2, nav{
    font-family: font-family: 'Montserrat', sans-serif;;
    letter-spacing: 1px;
    color: #2c2c2c;
}



