/* Mobile first */
@media only screen and (max-width: 1186px) {
    @import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
    * {
        margin: 0;
        padding: 0;
        border: none;
    }
    html, body {
        overflow-x: hidden;
        min-height: 100vh;
      }
    body {
        font-family:'Montserrat', Sans-serif;
        font-weight: 300px;
        position: relative;
        min-height: 100vh;
    }
    /*navigation menu*/

    /* Add a background color to the top navigation */
.topnav {
    background-color: #004f5d;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    color: #efefef;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #eaff59;
    color: #004f5d;
    
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #eaff59;
    color: #004f5d;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* When the screen is less than 11186 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1186px) {
  .topnav a {display: none;}
  .topnav a.icon {
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1186px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
    /* headings and logo */
    
    #logo{
        position: relative;
        width: 100%;
        height: 60px;
        background-image: url(https://cdn-bdclh.nitrocdn.com/ZXHaaGpMcRRbVAjcMYUOsikZqTHBAksF/assets/static/optimized/rev-7f76e69/wp-content/uploads/2021/01/reputation_logo_horizontal_dark.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 5px;
    }

    .heading-text {
        color:#efefef; 
        font-size: 170%;
        margin-top: 80px; 
        margin-left: 20px;
    }
    .intro-text {
        color:#efefef;
        font-size: 80%;
        width: 250px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 3px;
        background-color: #004f5d;
        position: relative;
        width: 75%;
        height: auto;
        opacity: 0.7;
        top: 10px;
        text-align: left;
        display: inline-flex;
        border-left: transparent;
        border-top: transparent;
        border-right: #eaff59;
        border-bottom: #eaff59;
        border-style: solid;
        border-radius: 2px;
    }
    .wrapper{
        width: 100%;
        height: 640px;
        background-image: url(../images/rxm-hero.png);
        display: flex;
        border-top: #d7d7d7 solid;
        border-width: 1px;
        object-fit: fill;
        background-repeat: no-repeat;
      }

      @media only screen and (min-width: 320px) {
        .wrapper{
            width: 110%;
            height: 600px;
            background-image: url(../images/rxm-hero.png);
            display: flex;
            border-top: #d7d7d7 solid;
            border-width: 1px;
            object-fit: fill;
            background-repeat: no-repeat;
          }
    }
      #mobile-only {
        visibility: visible;
        color:#efefef;
        font-size: 90%;
        width: 200px;
        margin-top:10px;
      }
      #enables-brands {
          color: #004f5d;
          font-size: large;
          background-color: #fff;
        width: 100%;
      }
      .enables-brands-subhead {
          margin-top: 20px;
          margin-bottom: 20px;
          text-align: center;
    }
/* Get Found  */
    }
    #get-found {
        color: #eaff59;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        background-color: #004f5d;
    }
    #get-found-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        font-size: medium;
        background-color: #004f5d;
        
    }
    #local-search-text {
        width: 100%;
        text-align: center;
        background-color: #004f5d;
    }
   
    /* Get chosen  */
    #get-chosen {
        position: relative;
        color: #004f5d;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        height: 820px;
        background-color: #efefef;  
    }
    #get-chosen-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
    }
    * {box-sizing: border-box}
    #graph > p {
        font-size: small;
        text-align: left;
        color:#004f5d;
        margin-top: 20px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .container {
      width: 100%;
      background-color: #efefef;
    }
    
    .percentages {
      text-align: right;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #d7d7d7;
    }
    
    .ratings {width: 76%; background-color: #004f5d; padding-right: 6px; color: #eaff59;}
    .family {width: 81%; background-color: #d7d7d7; color: #004f5d; padding-right: 6px;}
    .references {width: 64%; background-color: #d7d7d7; color: #004f5d; padding-right: 6px;}

    /* Get better */
    #get-better {
        background-color:#d7d7d7;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        font-size: x-large;
    }
    #optimal > p {
        background-color: #004f5d; 
        width: 100%;
        height: 200px;
        color: #fff; 
        margin-top: 10px; 
        padding-top: 10px;
        padding-bottom: 10px; 
        border: #fff; 
        border-style: solid;
    }
    /*Platform and Demo */
    #platform {
        background-color: #004f5d;
        padding-top: 20px;
    }
    #platform > h3 {
        color: #efefef;
        text-align: center;
        font-size: x-large;
        padding-bottom: 10px;
    }
    #platform > p {
        color: #fff;
        font-size: large;
        text-align: center;
        padding-bottom: 80px;
        background-color: #004f5d;
    }
   

    #cta {
        position: relative;
        padding: 10px;
        margin: auto;
        text-align: center;
        background-color: #004f5d;
        padding-bottom: 50px;
    }
    @media only screen and (max-width: 320px) {
        #cta {
            position: relative;
            padding: 20px;
            margin: auto;
            text-align: center;
            background-color: #004f5d;
        }
    }
    .button {
        text-align: center;
        width: 140px;
        background-color: #eaff59;
        color: #004f5d;
        font-size: x-large;
        font-weight: bold;
        padding-left: 30px;  
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-decoration: none;
        transition-duration: 0.4s;
        cursor: pointer;
    }
  
    .button:hover {
        background-color: #efefef;
        color: #004f5d;
    }
   #footer {
        position: relative;
      background-color: #efefef;
      height: 100px;
   }
   #footer > p {
       text-align: center;
       padding-top: 40px;
       font-weight: bold;
       color: #004f5d;
   }
   .social-networks {
    text-align: center;
    padding-top: 20px;
    }

.social-networks > li {
    display: inline;
    }
   .social-networks i {
    font-size: 180%;
    color: #004f5d;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    }
   
   

    /* Desktop view */
    @media only screen and (min-width: 1186px) {
    @import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
    * {
        margin: 0;
        padding: 0;
        border: none;
    }
    body {
        font-family:'Montserrat', Sans-serif;
        font-weight: 300px;
    }

    /*navigation menu*/

    /* Add a background color to the top navigation */
.topnav {
    background-color: #fff;
    float: right;
    margin-right: 5px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: inline-block;
    color: #004f5d;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #efefef;
    color: #004f5d;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #eaff59;
    color: #004f5d;
  }
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
  }
  /* When the screen is less than 11186 pixels wide, hide all links. Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 1186px) {
    .topnav a {display: inline-block;}
    .topnav a.icon {
      display: none;
    }
  }
  
    /* headings and logo */
    
    #logo{
        position: absolute;
        width: 100%;
        height: 50px;
        background-image: url(https://cdn-bdclh.nitrocdn.com/ZXHaaGpMcRRbVAjcMYUOsikZqTHBAksF/assets/static/optimized/rev-7f76e69/wp-content/uploads/2021/01/reputation_logo_horizontal_dark.png);
        background-position: left;
        background-repeat: no-repeat;
        margin-left: 50px;
        padding-top: 5px;
    }
    .heading-text {
        color:#004f5d; 
        font-size: 240%;
        margin-top: 20px; 
        margin-left: 40px;
    }
    .intro-text {
        margin-top: 20px;
        margin-left: 40px;
        margin-top:50px;
        font-size: 120%;
    }
    .wrapper{
        width: 100%;
        height: 500px;
        background: #fff;
        display: flex;
        border-top: #d7d7d7 solid;
        border-width: 1px;
      }
      
      .div1{
        width: 50% ;
        height: 120%;
        background: #fff;
      }
      
      .div2{
        width: 50%;
        height: 120%;
        background-image: url(../images/rxm-hero.png);
        background-color: #fff;
        object-fit: fill;
        background-repeat: no-repeat;
        border-bottom: #fff;
        border-width: 5px;
        clip-path: polygon(20% 0, 1600px 0, 1600px 100%, 0 100%);
      }
      #enables-brands {
        color: #004f5d;
        font-size: large;
        position: relative;
        margin-top: 100px;
        background-color: #d7d7d7;
        width: 100%;
    }
    .enables-brands-subhead {
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        letter-spacing: 2px;
        font-size: 30px;
    }
    /* Get Found  */
}
#get-found {
    color: #eaff59;
    font-size: x-large;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #004f5d;

}
@media only screen and (max-width: 490px) {
    #get-found {
        color: #eaff59;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        background-color: #004f5d;
    
    }
}
@media only screen and (max-width: 1211px) {
    #get-found {
        color: #eaff59;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        background-color: #004f5d;
    }
}
#get-found-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    font-size: medium;
    height: 540px;
    background-color: #004f5d;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    width: 100%;
    height: 100%;
    }
 .responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    }
}
#local-search-text {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #004f5d;
}
@media only screen and (max-width: 320px) {
    #local-search-text {
        width: 100%;
        text-align: center;
        background-color: #004f5d;
    }
}
/* Get chosen  */
#get-chosen {
    position: relative;
    color: #004f5d;
    font-size: x-large;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    height: 600px;
    background-color: #efefef;  
}
.get-chosen {
    position: relative;
}

@media only screen and (max-width: 411px) {
    #get-chosen {
        color: #004f5d;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        height: 750px;
        background-color: #efefef;  
    }
}
@media only screen and (max-width: 320px) {
    #get-chosen {
        color: #004f5d;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        height: 790px;
        background-color: #efefef;  
    }
}
@media only screen and (max-width: 624px) {
    #get-chosen {
        color: #004f5d;
        font-size: x-large;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        height: 700px;
        background-color: #efefef;  
    }  
}
@media only screen and (max-width: 455px) {
    #get-chosen {
        color: #004f5d;
        font-size: x-large;
        width: 100%
        padding-top: 20px;
        text-align: center;
        height: 755px;
        background-color: #efefef; 
}
}
@media only screen and (max-width: 320px) {
    #get-chosen {
        color: #004f5d;
        font-size: x-large;
        width: 100%;
        text-align: center;
        height: 790px;
        background-color: #efefef; 
}
}

#get-chosen-wrapper {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

* {box-sizing: border-box}
#graph > p {
    font-size: small;
    text-align: left;
    color:#004f5d;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.container {
  width: 100%;
  background-color: #efefef;
}

.percentages {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d7d7d7;
}

.ratings {width: 76%; background-color: #004f5d; padding-right: 6px; color: #eaff59;}
.family {width: 81%; background-color: #d7d7d7; color: #004f5d; padding-right: 6px;}
.references {width: 64%; background-color: #d7d7d7; color: #004f5d; padding-right: 6px;}

/* Get better */
#get-better {
    background-color:#d7d7d7;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
}
@media only screen and (max-width: 455px) {
    #get-better {
        background-color:#d7d7d7;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        margin: 0px;
    }  
}
#optimal > p {
    background-color: #004f5d; 
    width: 100%;
    height: 200px;
    color: #fff; 
    margin-top: 10px; 
    padding-top: 10px;
    padding-bottom: 10px; 
}
#platform {
    background-color: #004f5d;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
}
@media only screen and (max-width: 320px) {
    #platform {
        background-color: #004f5d;
        padding-top: 20px;
        position: relative;
    } 
}
#platform > h3 {
    color: #eaff59;
    text-align: center;
    font-size: 40px;
    padding-bottom: 10px;
}
#platform > p {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}
    #platformvideo {
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
        width: 100%;
        height: 100%;
        }
     .responsive {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        }
#cta {
    position: relative;
    padding: 10px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
.button {
    text-align: center;
    width: 120px;
    background-color: #eaff59;
    color: #004f5d;
    font-size: medium;
    font-weight: bold;
    padding-left: 10px;  
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #efefef;
    color: #004f5d;
}
#footer {
position: relative;
   background-color: #efefef;
   height: 100px;
}
}