@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
/*menu*/
#menu {
    list-style-type: none;
    background-color: white;
    height:80px;
}
#menu li {
    float: right;
    font-size: 100%;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-right: 35px;
    padding-top: 20px;
}
/* headings and logo */
#hero-text h1 {
    text-align: center;
    padding-top: 12%;
    font-family: font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #efefef;
    font-size: 40px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero-subtext {
    text-align: center;
    padding-top: 22%;
    font-family: font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    color: #efefef;
    font-size: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2, nav{
    font-family: font-family: 'Montserrat', sans-serif;;
    letter-spacing: 1px;
    color: #2c2c2c;
}
#hero-image {
    width: 100%;
    height: 500px;
    background-image: url(../images/rxm-hero.png); center no-repeat;
    background-size: cover;
}
#hero-text {
    font-family: font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
   
    width: 640px;
    height: 270px;
    background-color: rgba(0, 79, 93, 0.5);
   
    bottom: 210px;
    right: 25%;
    position: fixed;
}
