@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
/*menu*/
#menu {
    list-style-type: none;
    background-color: white;
    height:80px;
}
#menu li {
    float: right;
    font-size: 100%;
    letter-spacing: 2px;
    margin-top: 5px;
    margin-right: 35px;
    padding-top: 20px;
}
/* headings and logo */

.wrapper{
    width: 100%;
    height: 500px;
    background: #d7d7d7;
    display: flex;
  }
  
  .div1{
    width: calc( 50% - 40px) ;
    height: 100%;
    background: #d7d7d7;
  }
  
  .div2{
    width: calc( 50% + 40px );
    height: 100%;
    background: #004f5d;
    border-left: 80px solid #d7d7d7;
    border-bottom: 500px solid transparent;
    box-sizing: border-box;
  }